# Core functionality - changes here should be rare!
/src/app.py                   @stephen-nene
/src/backend/database.py      @stephen-nene
/src/backend/routers/auth.py  @stephen-nene

# The frontend will need refactored soon to be more object oriented.
/src/static/   @stephen-nene
